<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Send_Values.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Send_Values.My.MySettings>
            <setting name="frmOPC_Address_Tag1" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOPC_Address_Tag2" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOPC_Address_Tag3" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOPC_Address_Tag4" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOPC_GroupActiveState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmOPC_GroupDeadBand" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOPC_GroupUpdateRate" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOPC_OPCGroupName" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOPC_OPCNodeName" serializeAs="String">
                <value />
            </setting>
            <setting name="frmOPC_OPCServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMain_AutoSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmMain_RemotePort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="frmMain_RemoteIPAddress" serializeAs="String">
                <value />
            </setting>
        </Send_Values.My.MySettings>
    </userSettings>
</configuration>
